<meta charset="utf-8">
<title>Arhinni</title>
<body>
<nav>
</nav>
<article>
<h1>Arhinni</h1>
<style>
body {
  font-family: 'Arhinni Mane', serif;
  margin: 0.75rem;
}

h1 {
  font-family: 'Arhinni Mane', serif;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2px;
  margin-block-start: 0;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-block-end: 0.75rem;
  margin-block-start: 0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding: 0.25rem 0.75rem 0.125rem;
  background-color: #222;
  color: #fff
}

button {
  background-color: #e8a;
  font-family: 'Ubuntu Mono';
}

div > p:first-child {
  margin-top: 0;
}

div > p:last-child {
  margin-bottom: 0;
}

.display {
  font-size: 200%;
  padding: 3rem;
}

.caption.caption {
  font-size: 16px;
  margin: 16px;
  position: absolute;
}

.centre {
  zdisplay: flex;
  zalign-items: center;
  zjustify-content: center;
}

.DarkMid {
  background-color: #000;
  color: #e8a;
}

.DarkLightest {
  background-color: #000;
  color: #fff;
}

.LightestDark {
  background-color: #fff;
  color: #000;
}

.LightestMid {
  background-color: #fff;
  color: #e8a;
}

.MidDark {
  background-color: #e8a;
  color: #000;
}

.MidDark .secondary {
  color: #ffff;
}

.MidLightest {
  background-color: #e8a;
  color: #fff;
}

.secondary {
  font-size: 16px;
}

.ss04 {
  font-feature-settings: "ss04";
}

.ss10 {
  font-feature-settings: "ss10";
}

.frac {
  font-feature-settings: "frac";
}

.onum {
  font-feature-settings: "onum";
}

tt, code, kbd, samp {
    font-family: 'Ubuntu Mono';
}

pre, xmp, plaintext, listing {
    font-family: 'Ubuntu Mono';
}

/* reduce the indent */
ul {
  padding-left: 1em;
}

figure {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

@font-face {
  font-family: 'Arhinni Mane';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(static/OTF/ArhinniLAB20240327-Mane.otf) format('opentype');
}

@font-face {
  font-family: 'Arhinni Raven';
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url(static/OTF/ArhinniLAB20221221-Raven.otf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(static/TTF/UbuntuMono-Regular.ttf) format('opentype');
}

</style>

<p>A hippo-graphic font from <a href="https://about.cubictype.com/">CubicType</a>.</p>
<p>Made in <span class="ss10">Yorkshire by David Jones.</span></p>
<div class="MidDark display centre">
<p>
AÆBCDEƏƷFGHIJ
<br>
KLMNƝŊOŒPÞQ
<br>
RSꞋẞTUVWXYZ
</p>
<p class="secondary">Capitals</p>
<p>
aæbcdðeəʒfghij
<br>
kĸlmnɲŋoœpþq
<br>
rsꞌßſtuvwxyz
</p>
<p class="secondary">Little letters</p>
<p>
*0123456789!?
<br>
¶99$@100%†
</p>
<p class="secondary">Numbers &amp;c</p>
</div>

<p>This font runs, races, and gallops.
Arhinni should be used for your favourite legends,
your cherished poems, and your people’s stories.</p>
<p>Arhinni works best over short distances;
is good at flatwork, but can also handle a few hurdles.
Ride out, let your words trot across the page.</p>
<div class="LightestMid">
<p class="caption">Edit me!</p>
<div class="LightestDark display" style="border: 8px double">
<p contenteditable="" style="font-size: 48px">
Try Me, I’m Chonky
</p>
<p contenteditable="" style="font-size: 16px">
i’m smol, like icelandic pony
</p>
<p contenteditable="" style="font-size: 24px">
Just hoofing it with the herd.
</p>
</div>
</div>

<h2>Design notes</h2>
<p>Arhinni is an upright robust display font with strong serifs.
Weight is distributed to tops and bottoms giving a taste of
reverse contrast.
A 45° stroke angle and a calligraphic hint with angular connexions
gives a dynamic feel,
with plentiful moments of tension leaving fewer places to rest.</p>
<p>Single-storey «a» and «g» are available as an OpenType Stylistic
Set.</p>
<div class="DarkLightest" id="ag">
<button class="caption" onclick="document.getElementById('ag').classList.toggle('ss04')">Toggle Single-storey</button>
<div class="display" contenteditable="">
zealous zebras &amp;
quaking quaggas &amp;
orange onagers
</div>
</div>

<p>A partial set of 12 capitals decorated with a ring element are
available as a Stylistic Set.</p>
<div class="ss10 MidLightest">
<p class="caption">Edit me!</p>
<p class="MidDark display" contenteditable="">
My Friend’s Horse Kicks Butt;
«A Pink Northern Quagga» Says Your Zebra
</p>
</div>

<p>Many whole numbers are available in both lining and lowercase forms,
try some now:</p>
<div class="ss10 MidLightest">
<p class="caption">Edit me!</p>
<div class="display">
<p class="MidDark lnum" contenteditable="" id="lnum" oninput="document.getElementById('onum').innerText = this.innerText">
0123456789
</p>
<p class="MidDark onum" contenteditable="" id="onum" oninput="document.getElementById('lnum').innerText = this.innerText">
0123456789
</p>
</div>
</div>

<p>Arhinni comes with a complete set of built-in vulgar fractions
and more can be composed via the <code>frac</code> feature.</p>
<div class="frac MidLightest">
<p class="caption">Edit me!</p>
<p class="MidDark display" contenteditable="">
The halves 1/2, 3/6, 4/8, and the half knots 5/7, 9/10
</p>
</div>

<p>Arhinni has wide Latin coverage with over 750 glyphs and
support for more than 100 languages,
including localisations for
Catalan, Dutch, Marshallese, Moldovan, Northern Sami, Romanian,
and Turkish.</p>
<h2>Origins</h2>
<p>Arhinni began as my project for the I Love Typography
Introduction to Latin Type Design course for Fall 2022.
It recalls an idea from beforetimes of modelling terminals on
the shape of a horse’s hoof.
Arhinni is inspired by Rhiannon, the god of horses in Welsh
myth, and by Epona, the horse in the videogame series The Legend
of Zelda and also a horse god in Gallo–Roman myth.
Rhiannon also gives, by corruption, Arhinni its name.</p>
<p>Typographically the design refers to Albertus, Swift, and Icone
from the 20th century and a little more closely to
Nina Stössinger’s <a href="https://monokrom.no/fonts/nordvest">Nordvest</a> and
Sandrine Nugue’s <a href="https://www.cnap.fr/sites/infini/">Infini</a>,
both from the 21st century.</p>
<h2>Examples</h2>
<p contenteditable="">
Only Tofu Eating Wokerati Can Edit This Text.
</p>

<p>We got planets
<p class="DarkLightest display">
☉ Sun •
☿ Mercury •
♀ Venus •
♁ Earth •
♂ Mars •
♃ Jupiter •
♄ Saturn •
♆ Neptune •
⛢ Uranus •
<p></p>
<p>And a selection of Alchemical supplies
<p class="DarkMid display">
🝪 Alembic •
🜫 Antimony Ore •
🜇 Aqua Regia •
🜈 Aqua Vitæ •
🝫 Bath of Mary •
🜾 Bismuth Ore •
🜠 Copper Ore •
🜡 Iron Copper Ore •
🜜 Iron Ore •
🜪 Lead Ore •
🜱 Regulus of Antimony •
🜘 Rock Salt •
🝜 Stratum Super Stratum •
🝝 Stratum Super Stratum 2 •
🜍 Sulfur •
🜩 Tin Ore •
🜨 Verdigris •
<p></p>
<p>Some Alchemicals are accessible as ligatures enabled with
Stylistic Set 07.</p>
<p class="MidLightest display">
Ainderby Quernhow † Batley † Coxwold † Doncaster † Emley †
Fylingdales † Grimethorpe † Hebden Bridge † Ilkley †
Just another day in God’s Own Country †
Kippax † Langsett † Mytholmroyd † Netherthong † Ossett † Pontefract †
Queensbury † Rievaulx † SHEFFIELD † Thrybergh † Upperthong †
Vale of York † Wensleydale † YORKSHIRE
</p>

<p>Handy phrases
<div class="MidLightest display">
íoc ⁊ taispeáin
<!--Irish: Pay and Display--><p></p>
<p>Arhinni—om katten själv får välja
<!--Swedish: if the cat itself gets to choose--></p>
<p>Kar seješ to žanješ
<!--Slovenian: reap what you sow--></p>
<p>Ebule laa azụ, ọ bịa ọgụ
<!-- Igbo: the ram retreasts before attacking an enemy -->
</div><p></p>
<div class="LightestMid display onum" style="border: 8px double">
<p>Dragon Valley Pastures for Retired Horses.</p>
<p>Incident free since 2020.</p>
<p>Gochel y ddraig.</p>
</div>

<div class="MidLightest">
<p class="caption">Used by some fantastic brands</p>
<p class="MidDark display" contenteditable="">
Rhiannon’s Guided Woodland Walks ⁂
The Flying Dragon: Victuals and Boarding ⁂
Epona’s Horse Riding and Training School
</p>
</div>

<div class="MidLightest">
<p class="caption">Look out for these titles in your local bookshop</p>
<div class="MidDark display">
The Alchemy of Type ¶ Stop Stealing Horses &amp; Dragons ¶
Web Typography for Zebras ¶ The Anatomy of Horses ¶ Thinking with Dragons
</div>
</div>

<!--
It’s reet good.

Th’a’ daft a’peth.

Put t’wood in t’ole.

You’d mek a better door than a windah.

Were tha born in a barn?
-->

<div class="DarkLightest">
<p class="caption">Super Heavy, coming soon, in 2024?</p>
<div class="DarkMid display" style="font-family: 'Arhinni Raven'; font-size: 4rem">
NORTHERN
<br>
RHINESTONE
<br>
THRONES
</div>
</div>

<h1>Tara rŵan!</h1>
</article>

